ion-item{
    --background: #4083ff;
    --color: #fff;
}

ion-button{
    --background: #d33939;
}

#title{
    color: #d33939;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}