<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Edit Exercise
    </ion-title>
  </ion-toolbar>
</ion-header>


<ng-container *ngFor="let editedExercise of exercises">
  <ng-container *ngIf="editedExercise.id == myId">
    <ion-content>
      <ion-item>
        <ion-label position="fixed">Name</ion-label>
        <ion-input [(ngModel)]="editedExercise.name"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label position="fixed">Description</ion-label>
        <ion-input [(ngModel)]="editedExercise.description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Sets</ion-label>
        <ion-input [(ngModel)]="editedExercise.sets"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Reps</ion-label>
        <ion-input [(ngModel)]="editedExercise.reps"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="updateExercise(editedExercise)">Done</ion-button>
    </ion-content>
 
  </ng-container>
</ng-container>