ion-card{
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
  }

#title{
    color: #d33939;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title2{
  color:#4083ff;
}

#log{
  width: 50% !important;
  height: 100% !important;
}